# Compiler files and local data
cache
out
tmp
www

# Secrets
.env
tickets.txt
forge-ffi-scripts/utils/prayers.js

# Circom
/circuit_artifacts/
/circuits/lib

# Node
/node_modules
yarn.lock

# too lagre?
groth16/update5_final.zkey
groth16/update11_final.zkey
groth16/update21_final.zkey
groth16/update44_final.zkey
groth16/update89_final.zkey
groth16/update179_final.zkey
groth16/*.wnts
groth16/*.wtns
groth16/*.json
