# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Circom
/node_modules
/circuit_artifacts
/circuits/lib

# Test
forge-ffi-scripts/testMimc.js
forge-ffi-scripts/mimc123.js
oldtest/

# failes to upload
tmp/

# why yarn ?
yarn.lock
package-lock.json

# too lagre?
groth16/update11_final.zkey
groth16/update21_final.zkey
groth16/update44_final.zkey
groth16/update89_final.zkey

